<a href="https://colab.research.google.com/github/Theseyh/Big-Data-Framework/blob/main/BDF_11_Graph_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#00 - Configuration of Apache Spark on Collaboratory

###Installing Java, Spark, and Findspark


---


This code installs Apache Spark 3.0.1, Java 8, and [Findspark](https://github.com/minrk/findspark), a library that makes it easy for Python to find Spark.

In [34]:
import os

os.environ["SPARK_VERSION"] = "spark-3.2.3"
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget  https://archive.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!echo $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

Hit:1 http://security.ubuntu.com/ubuntu jammy-security InRelease
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:5 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Hit:6 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
Hit:7 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
--2024-11-29 09:10:06--  https://archive.apache.org/dist/spark/spark-3.2.3/spark-3.2.3-bin-hadoop2.7.tgz
Resolving archive.apache.org (archive.apache.org)... 65.108.204.189, 2a01:4f9:1a:a084::2
Connecting to archive.apache.org (archive.apache.org)|65.108.204.189|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 272866820 (260M) [application/x-gzip]
Saving to: ‘spark-3.2.3-bin-hadoop2.7.tgz.1’

spark-3.2.3-bin-had 100%[===================>] 260.23M  4.28MB/s    in 51s

2024-11-29 09:10:58 (5.14 MB/s) - ‘spark-3.2.3-bin-hadoop2.7.tgz.1’ saved [272866820/272866820]

spark-3.2.3-bin-hadoop2.7.tgz

In [35]:
!wget https://repos.spark-packages.org/graphframes/graphframes/0.8.2-spark3.2-s_2.12/graphframes-0.8.2-spark3.2-s_2.12.jar

--2024-11-29 09:11:04--  https://repos.spark-packages.org/graphframes/graphframes/0.8.2-spark3.2-s_2.12/graphframes-0.8.2-spark3.2-s_2.12.jar
Resolving repos.spark-packages.org (repos.spark-packages.org)... 18.160.143.35, 18.160.143.50, 18.160.143.84, ...
Connecting to repos.spark-packages.org (repos.spark-packages.org)|18.160.143.35|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 247880 (242K) [binary/octet-stream]
Saving to: ‘graphframes-0.8.2-spark3.2-s_2.12.jar’

graphframes-0.8.2-s 100%[===================>] 242.07K  --.-KB/s    in 0.05s

2024-11-29 09:11:04 (5.20 MB/s) - ‘graphframes-0.8.2-spark3.2-s_2.12.jar’ saved [247880/247880]

### Set Environment Variables
Set the locations where Spark and Java are installed.

In [36]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark/"
os.environ["DRIVE_DATA"] = "/content/gdrive/My Drive/Big Data Framework/data/"

!rm /content/spark
!ln -s /content/$SPARK_VERSION-bin-hadoop2.7 /content/spark

!mv graphframes-0.8.2-spark3.2-s_2.12.jar /content/spark/jars/

!export SPARK_HOME=/content/spark
!export PATH=$PATH:$SPARK_HOME/bin:$SPARK_HOME/sbin

!echo $SPARK_HOME
!env |grep  "DRIVE_DATA"

!ls -l /content/

/content/spark/
DRIVE_DATA=/content/gdrive/My Drive/Big Data Framework/data/
total 532956
drwx------  7 root root      4096 Nov 29 08:33 gdrive
drwxr-xr-x  1 root root      4096 Nov 25 19:13 sample_data
lrwxrwxrwx  1 root root        34 Nov 29 09:11 spark -> /content/spark-3.2.3-bin-hadoop2.7
drwxr-xr-x 13  501 1000      4096 Nov 14  2022 spark-3.2.3-bin-hadoop2.7
-rw-r--r--  1 root root 272866820 Nov 14  2022 spark-3.2.3-bin-hadoop2.7.tgz
-rw-r--r--  1 root root 272866820 Nov 14  2022 spark-3.2.3-bin-hadoop2.7.tgz.1

### Start a SparkSession
This will start a local Spark session.

In [37]:
!python -V

import findspark
findspark.init()

from pyspark import SparkContext
sc = SparkContext.getOrCreate()

sc.addPyFile('/content/spark/jars/graphframes-0.8.2-spark3.2-s_2.12.jar')

# Example: shows the PySpark version
print("PySpark version {0}".format(sc.version))

# Example: parallelise an array and show the 2 first elements
sc.parallelize([2, 3, 4, 5, 6]).cache().take(2)

Python 3.10.12
PySpark version 3.2.3

[2, 3]

In [38]:
from pyspark.sql import SparkSession
# We create a SparkSession object (or we retrieve it if it is already created)
spark = SparkSession \
.builder \
.appName("My application") \
.config("packages","graphframes:graphframes-0.8.2-spark3.2-s_2.12") \
.master("local[4]") \
.getOrCreate()
# We get the SparkContext
sc = spark.sparkContext

In [39]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).


---


# 11 - Graph processing

## GraphX: Graph processing with RDDs

Parallel graph programming using Spark

- Main abstraction: [*Graph*](http://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.graphx.Graph)
    -   Directed multigraph with properties assigned to vertices and edges
    -   It is an extension of the RDDs
- It includes graph constructors, basic operators ( *reverse*, *subgraph*…) and graph algorithms ( *PageRank*, *Triangle Counting*…)
- Only availabe on Scala.

Documentation: [spark.apache.org/docs/latest/graphx-programming-guide.html](http://spark.apache.org/docs/latest/graphx-programming-guide.html)

API: https://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.graphx.package

## Graphs in GraphX
<img src="http://persoal.citius.usc.es/tf.pena/TCDM/figs/grapxgraph.png" alt="Grafo en GraphX" style="width: 50px;"/>
(Source: M.S. Malak, R. East "Spark GraphX in action", Manning, 2016)

### Example of a simple graph
<img src="http://persoal.citius.usc.es/tf.pena/TCDM/figs/simpsonsgraph.png" alt="Grafo de los Simpson" style="width: 600px;"/>
(Source: P. Zecević, M. Bonaći "Spark in action", Manning, 2017)

## GraphFrames: : Graph processing with DataFrames

In Python we can use [*GraphFrames*](https://graphframes.github.io/graphframes/docs/_site/quick-start.html) which wraps GraphX algorithms under the DataFrames API, providing a Python interface.

- Support for multiple languages is on the works
    - For now,  available for Scala and Python
- Not yet integrated on Spark
    - Available as an external package (https://spark-packages.org/package/graphframes/graphframes)

More information:
- Project web: https://graphframes.github.io/graphframes/docs/_site/
- Python API : https://graphframes.github.io/graphframes/docs/_site/api/python/index.html

### Graphs using pyspark and GraphFrames

In [40]:
# The following example shows how to create a GraphFrame, query it, and run the PageRank algorithm.
# Source: https://graphframes.github.io/graphframes/docs/_site/quick-start.html

from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

from graphframes import *

# Create a Vertex DataFrame with unique ID column "id"
v = sqlContext.createDataFrame([
  ("a", "Alice", 34),
  ("b", "Bob", 36),
  ("c", "Charlie", 30),
], ["id", "name", "age"])
# Create an Edge DataFrame with "src" and "dst" columns
e = sqlContext.createDataFrame([
  ("a", "b", "friend"),
  ("b", "c", "follow"),
  ("c", "b", "follow"),
], ["src", "dst", "relationship"])
# Create a GraphFrame

g = GraphFrame(v, e)

# Query: Get in-degree of each vertex.
g.inDegrees.show()

# Query: Count the number of "follow" connections in the graph.
g.edges.filter("relationship = 'follow'").count()

# Run PageRank algorithm, and show results.
results = g.pageRank(resetProbability=0.01, maxIter=20)
results.vertices.select("id", "pagerank").show()

/content/spark/python/pyspark/sql/context.py:77: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

+---+--------+
| id|inDegree|
+---+--------+
|  b|       2|
|  c|       1|
+---+--------+

+---+------------------+
| id|          pagerank|
+---+------------------+
|  c|1.8994109890559092|
|  b|1.0905890109440908|
|  a|              0.01|
+---+------------------+

#Exercises

## Exercise 11.1:

A long time ago in a galaxy far, far away, the characters of the Star Wars franchise interacted with each other in an endless series of films. An ancient Jedi order, called the *Data Guardians of the Galaxy* (not affiliated to Marvel's homonym :) registered all those interactions and saved them on a digital file so that they could be studied by the forthcoming generations. This file was originally called (guess it) `sw.txt`, and you will find it in the `/data` directory.

Using pySpark, perform the following operations and answer the following questions:

1. Load the `$DRIVE_DATA/sw.txt` file. Take into account that it is a JSON file.
2. Using this information, create a graph of interactions between the Star Wars characters.
3. How many different characters are there?
4. How many interactions are there?
5. Who is the central character in Star Wars (the one who interacts in most scenes)?
6. Who is the character with the highest 'rank' in Star Wars (use the PageRank algorithm)?

In [55]:
sw_DF = spark.read.option("multiline", "true").json(os.environ["DRIVE_DATA"] + "sw.txt").cache()
sw = sw_DF.rdd

print(sw.collect())

[Row(links=[Row(source=0, target=1, value=32), Row(source=2, target=0, value=2), Row(source=0, target=20, value=5), Row(source=0, target=4, value=22), Row(source=0, target=18, value=41), Row(source=0, target=21, value=2), Row(source=0, target=15, value=12), Row(source=0, target=22, value=2), Row(source=0, target=23, value=8), Row(source=24, target=0, value=11), Row(source=0, target=26, value=3), Row(source=0, target=27, value=2), Row(source=0, target=8, value=47), Row(source=0, target=29, value=1), Row(source=0, target=30, value=1), Row(source=13, target=0, value=2), Row(source=0, target=19, value=4), Row(source=0, target=32, value=9), Row(source=0, target=33, value=2), Row(source=0, target=34, value=9), Row(source=0, target=35, value=1), Row(source=17, target=0, value=1), Row(source=38, target=0, value=2), Row(source=39, target=0, value=1), Row(source=40, target=0, value=3), Row(source=0, target=14, value=1), Row(source=0, target=43, value=1), Row(source=0, target=44, value=1), Row(source=0, target=45, value=3), Row(source=0, target=50, value=3), Row(source=51, target=0, value=1), Row(source=52, target=0, value=2), Row(source=0, target=54, value=1), Row(source=0, target=55, value=1), Row(source=0, target=5, value=1), Row(source=53, target=0, value=3), Row(source=0, target=57, value=2), Row(source=0, target=12, value=21), Row(source=0, target=58, value=1), Row(source=36, target=0, value=2), Row(source=63, target=0, value=1), Row(source=0, target=69, value=2), Row(source=0, target=70, value=1), Row(source=0, target=71, value=7), Row(source=0, target=82, value=8), Row(source=0, target=83, value=2), Row(source=0, target=86, value=1), Row(source=48, target=0, value=3), Row(source=0, target=87, value=4), Row(source=0, target=72, value=2), Row(source=0, target=66, value=8), Row(source=0, target=88, value=1), Row(source=2, target=1, value=17), Row(source=3, target=1, value=2), Row(source=3, target=2, value=8), Row(source=8, target=1, value=28), Row(source=18, target=1, value=24), Row(source=4, target=1, value=13), Row(source=1, target=20, value=3), Row(source=24, target=1, value=55), Row(source=26, target=1, value=2), Row(source=29, target=1, value=4), Row(source=12, target=1, value=5), Row(source=40, target=1, value=1), Row(source=51, target=1, value=1), Row(source=50, target=1, value=2), Row(source=36, target=1, value=3), Row(source=1, target=34, value=5), Row(source=66, target=1, value=34), Row(source=69, target=1, value=23), Row(source=65, target=1, value=1), Row(source=68, target=1, value=1), Row(source=72, target=1, value=18), Row(source=87, target=1, value=5), Row(source=2, target=8, value=6), Row(source=24, target=2, value=39), Row(source=2, target=66, value=32), Row(source=2, target=72, value=77), Row(source=2, target=29, value=3), Row(source=2, target=69, value=48), Row(source=2, target=79, value=1), Row(source=2, target=87, value=20), Row(source=48, target=2, value=2), Row(source=2, target=96, value=20), Row(source=2, target=98, value=13), Row(source=101, target=2, value=1), Row(source=2, target=103, value=2), Row(source=2, target=93, value=2), Row(source=2, target=94, value=3), Row(source=95, target=2, value=1), Row(source=3, target=93, value=8), Row(source=3, target=92, value=2), Row(source=3, target=98, value=17), Row(source=3, target=97, value=1), Row(source=3, target=96, value=15), Row(source=3, target=72, value=9), Row(source=101, target=3, value=1), Row(source=3, target=103, value=3), Row(source=3, target=69, value=3), Row(source=3, target=24, value=3), Row(source=5, target=4, value=1), Row(source=6, target=7, value=1), Row(source=8, target=7, value=1), Row(source=4, target=7, value=1), Row(source=8, target=4, value=26), Row(source=5, target=7, value=1), Row(source=9, target=5, value=1), Row(source=9, target=7, value=1), Row(source=5, target=10, value=8), Row(source=10, target=11, value=2), Row(source=5, target=11, value=1), Row(source=13, target=12, value=3), Row(source=12, target=14, value=1), Row(source=13, target=14, value=3), Row(source=15, target=4, value=22), Row(source=15, target=8, value=15), Row(source=15, target=16, value=2), Row(source=17, target=4, value=2), Row(source=17, target=8, value=2), Row(source=17, target=15, value=2), Row(source=12, target=5, value=6), Row(source=12, target=10, value=3), Row(source=5, target=14, value=2), Row(source=15, target=14, value=1), Row(source=13, target=15, value=7), Row(source=4, target=14, value=2), Row(source=13, target=4, value=9), Row(source=13, target=18, value=7), Row(source=18, target=4, value=16), Row(source=18, target=14, value=1), Row(source=13, target=8, value=7), Row(source=8, target=19, value=3), Row(source=15, target=19, value=1), Row(source=4, target=19, value=2), Row(source=13, target=19, value=2), Row(source=15, target=18, value=10), Row(source=4, target=20, value=6), Row(source=18, target=20, value=3), Row(source=15, target=21, value=2), Row(source=4, target=21, value=2), Row(source=18, target=21, value=2), Row(source=22, target=4, value=2), Row(source=22, target=18, value=1), Row(source=15, target=23, value=3), Row(source=4, target=23, value=8), Row(source=18, target=23, value=5), Row(source=24, target=18, value=12), Row(source=8, target=14, value=1), Row(source=25, target=12, value=3), Row(source=26, target=27, value=1), Row(source=15, target=26, value=1), Row(source=26, target=4, value=2), Row(source=15, target=27, value=1), Row(source=4, target=27, value=2), Row(source=8, target=23, value=1), Row(source=24, target=20, value=1), Row(source=26, target=20, value=1), Row(source=24, target=4, value=1), Row(source=24, target=26, value=1), Row(source=26, target=18, value=1), Row(source=28, target=29, value=1), Row(source=29, target=23, value=1), Row(source=21, target=23, value=1), Row(source=29, target=15, value=1), Row(source=29, target=18, value=1), Row(source=29, target=21, value=1), Row(source=29, target=4, value=1), Row(source=28, target=15, value=2), Row(source=28, target=18, value=1), Row(source=30, target=4, value=1), Row(source=30, target=27, value=1), Row(source=26, target=23, value=1), Row(source=12, target=31, value=2), Row(source=12, target=15, value=5), Row(source=12, target=4, value=1), Row(source=15, target=31, value=1), Row(source=4, target=31, value=1), Row(source=32, target=4, value=2), Row(source=33, target=4, value=2), Row(source=4, target=34, value=3), Row(source=4, target=35, value=1), Row(source=33, target=32, value=4), Row(source=32, target=34, value=16), Row(source=32, target=35, value=1), Row(source=33, target=34, value=4), Row(source=33, target=35, value=1), Row(source=35, target=34, value=1), Row(source=36, target=12, value=6), Row(source=36, target=31, value=1), Row(source=8, target=34, value=20), Row(source=32, target=8, value=9), Row(source=33, target=8, value=1), Row(source=17, target=18, value=2), Row(source=25, target=5, value=3), Row(source=17, target=13, value=1), Row(source=8, target=18, value=9), Row(source=12, target=37, value=1), Row(source=37, target=5, value=1), Row(source=25, target=37, value=1), Row(source=25, target=10, value=1), Row(source=38, target=19, value=4), Row(source=37, target=15, value=1), Row(source=5, target=18, value=2), Row(source=9, target=11, value=1), Row(source=39, target=38, value=2), Row(source=39, target=19, value=2), Row(source=12, target=18, value=5), Row(source=12, target=41, value=2), Row(source=12, target=42, value=2), Row(source=42, target=41, value=1), Row(source=12, target=32, value=3), Row(source=12, target=34, value=2), Row(source=12, target=33, value=1), Row(source=36, target=32, value=2), Row(source=36, target=34, value=8), Row(source=36, target=33, value=1), Row(source=40, target=15, value=1), Row(source=40, target=8, value=2), Row(source=8, target=6, value=1), Row(source=18, target=43, value=1), Row(source=44, target=43, value=2), Row(source=45, target=43, value=1), Row(source=44, target=18, value=1), Row(source=18, target=45, value=1), Row(source=44, target=45, value=1), Row(source=8, target=46, value=5), Row(source=47, target=46, value=2), Row(source=47, target=8, value=6), Row(source=48, target=46, value=2), Row(source=48, target=49, value=3), Row(source=48, target=8, value=1), Row(source=49, target=46, value=1), Row(source=49, target=8, value=1), Row(source=24, target=50, value=4), Row(source=51, target=24, value=3), Row(source=24, target=52, value=1), Row(source=51, target=50, value=4), Row(source=50, target=18, value=4), Row(source=52, target=50, value=2), Row(source=51, target=18, value=1), Row(source=51, target=52, value=1), Row(source=52, target=18, value=2), Row(source=36, target=8, value=8), Row(source=12, target=8, value=5), Row(source=8, target=41, value=1), Row(source=36, target=41, value=1), Row(source=36, target=15, value=1), Row(source=41, target=34, value=1), Row(source=15, target=34, value=1), Row(source=32, target=41, value=1), Row(source=15, target=32, value=1), Row(source=15, target=41, value=1), Row(source=32, target=18, value=2), Row(source=15, target=42, value=1), Row(source=53, target=18, value=3), Row(source=53, target=49, value=1), Row(source=55, target=54, value=2), Row(source=5, target=54, value=2), Row(source=5, target=55, value=2), Row(source=8, target=54, value=1), Row(source=8, target=55, value=1), Row(source=5, target=8, value=1), Row(source=53, target=8, value=3), Row(source=18, target=54, value=1), Row(source=53, target=54, value=1), Row(source=18, target=55, value=1), Row(source=53, target=55, value=1), Row(source=53, target=5, value=1), Row(source=53, target=32, value=2), Row(source=33, target=56, value=1), Row(source=53, target=34, value=2), Row(source=18, target=34, value=1), Row(source=53, target=12, value=2), Row(source=8, target=57, value=2), Row(source=58, target=8, value=2), Row(source=24, target=8, value=9), Row(source=24, target=12, value=2), Row(source=36, target=24, value=3), Row(source=36, target=18, value=5), Row(source=36, target=59, value=2), Row(source=36, target=60, value=2), Row(source=36, target=61, value=1), Row(source=59, target=18, value=2), Row(source=59, target=60, value=2), Row(source=59, target=61, value=1), Row(source=60, target=18, value=2), Row(source=61, target=18, value=1), Row(source=61, target=60, value=1), Row(source=40, target=18, value=2), Row(source=24, target=40, value=2), Row(source=62, target=34, value=1), Row(source=63, target=8, value=2), Row(source=8, target=64, value=1), Row(source=58, target=5, value=1), Row(source=63, target=32, value=1), Row(source=63, target=34, value=1), Row(source=36, target=65, value=2), Row(source=36, target=4, value=1), Row(source=24, target=34, value=1), Row(source=24, target=65, value=1), Row(source=67, target=66, value=2), Row(source=68, target=67, value=2), Row(source=68, target=66, value=4), Row(source=51, target=66, value=3), Row(source=66, target=50, value=3), Row(source=24, target=66, value=29), Row(source=24, target=69, value=49), Row(source=69, target=66, value=26), Row(source=51, target=69, value=1), Row(source=66, target=8, value=22), Row(source=69, target=8, value=1), Row(source=70, target=71, value=2), Row(source=72, target=8, value=10), Row(source=72, target=66, value=43), Row(source=30, target=72, value=1), Row(source=72, target=29, value=1), Row(source=24, target=72, value=54), Row(source=69, target=70, value=1), Row(source=69, target=71, value=1), Row(source=72, target=69, value=69), Row(source=73, target=74, value=1), Row(source=73, target=75, value=1), Row(source=73, target=66, value=1), Row(source=74, target=75, value=1), Row(source=74, target=66, value=1), Row(source=66, target=75, value=4), Row(source=68, target=69, value=1), Row(source=69, target=76, value=1), Row(source=66, target=76, value=3), Row(source=68, target=76, value=3), Row(source=68, target=24, value=1), Row(source=24, target=76, value=1), Row(source=76, target=75, value=3), Row(source=74, target=76, value=1), Row(source=68, target=75, value=2), Row(source=76, target=77, value=1), Row(source=68, target=74, value=1), Row(source=66, target=77, value=1), Row(source=72, target=79, value=3), Row(source=69, target=79, value=4), Row(source=24, target=80, value=1), Row(source=72, target=81, value=1), Row(source=24, target=79, value=1), Row(source=83, target=82, value=2), Row(source=80, target=69, value=1), Row(source=84, target=66, value=3), Row(source=85, target=75, value=2), Row(source=66, target=81, value=1), Row(source=86, target=82, value=1), Row(source=66, target=34, value=6), Row(source=48, target=82, value=1), Row(source=72, target=87, value=12), Row(source=87, target=69, value=12), Row(source=24, target=87, value=8), Row(source=48, target=87, value=2), Row(source=48, target=24, value=1), Row(source=48, target=72, value=1), Row(source=48, target=69, value=1), Row(source=87, target=66, value=6), Row(source=89, target=24, value=2), Row(source=24, target=29, value=3), Row(source=29, target=66, value=2), Row(source=90, target=29, value=1), Row(source=90, target=24, value=2), Row(source=90, target=72, value=1), Row(source=90, target=69, value=1), Row(source=89, target=66, value=1), Row(source=89, target=29, value=1), Row(source=72, target=60, value=1), Row(source=91, target=72, value=2), Row(source=87, target=60, value=1), Row(source=91, target=87, value=5), Row(source=91, target=60, value=1), Row(source=24, target=60, value=1), Row(source=69, target=60, value=1), Row(source=66, target=60, value=1), Row(source=91, target=24, value=2), Row(source=91, target=69, value=2), Row(source=91, target=66, value=1), Row(source=12, target=66, value=3), Row(source=87, target=75, value=6), Row(source=91, target=75, value=1), Row(source=92, target=93, value=3), Row(source=94, target=92, value=1), Row(source=94, target=93, value=2), Row(source=95, target=94, value=1), Row(source=95, target=92, value=1), Row(source=95, target=93, value=1), Row(source=95, target=96, value=3), Row(source=99, target=94, value=5), Row(source=98, target=97, value=2), Row(source=96, target=93, value=11), Row(source=99, target=100, value=1), Row(source=94, target=100, value=2), Row(source=95, target=99, value=1), Row(source=96, target=98, value=29), Row(source=72, target=98, value=17), Row(source=96, target=72, value=23), Row(source=101, target=72, value=2), Row(source=101, target=98, value=1), Row(source=101, target=96, value=1), Row(source=99, target=102, value=3), Row(source=94, target=102, value=2), Row(source=72, target=103, value=4), Row(source=96, target=103, value=2), Row(source=103, target=98, value=2), Row(source=72, target=93, value=2), Row(source=69, target=93, value=3), Row(source=96, target=69, value=3), Row(source=94, target=98, value=4), Row(source=93, target=104, value=2), Row(source=91, target=93, value=1), Row(source=24, target=93, value=2), Row(source=105, target=93, value=1), Row(source=72, target=104, value=1), Row(source=91, target=104, value=1), Row(source=96, target=104, value=1), Row(source=69, target=104, value=1), Row(source=24, target=104, value=1), Row(source=105, target=104, value=1), Row(source=105, target=72, value=1), Row(source=91, target=96, value=1), Row(source=91, target=105, value=1), Row(source=24, target=96, value=1), Row(source=105, target=96, value=1), Row(source=105, target=69, value=2), Row(source=105, target=24, value=2), Row(source=95, target=72, value=2), Row(source=107, target=99, value=1), Row(source=108, target=93, value=3), Row(source=109, target=104, value=1), Row(source=72, target=94, value=3), Row(source=96, target=94, value=2), Row(source=109, target=110, value=2), Row(source=110, target=106, value=1), Row(source=110, target=93, value=2), Row(source=108, target=110, value=2), Row(source=109, target=106, value=1), Row(source=109, target=93, value=2), Row(source=108, target=109, value=2), Row(source=93, target=106, value=1), Row(source=108, target=106, value=1), Row(source=69, target=98, value=1), Row(source=66, target=98, value=1)], nodes=[Row(colour='#000000', name='DARTH VADER', value=190), Row(colour='#bde0f6', name='R2-D2', value=171), Row(colour='#A0522D', name='CHEWBACCA', value=145), Row(colour='#eb5d00', name='BB-8', value=40), Row(colour='#4f4fb1', name='QUI-GON', value=62), Row(colour='#808080', name='NUTE GUNRAY', value=25), Row(colour='#808080', name='PK-4', value=4), Row(colour='#808080', name='TC-14', value=5), Row(colour='#48D1CC', name='OBI-WAN', value=148), Row(colour='#808080', name='DOFINE', value=4), Row(colour='#808080', name='RUNE', value=11), Row(colour='#808080', name='TEY HOW', value=5), Row(colour='#191970', name='EMPEROR', value=52), Row(colour='#808080', name='CAPTAIN PANAKA', value=20), Row(colour='#808080', name='SIO BIBBLE', value=9), Row(colour='#9a9a00', name='JAR JAR', value=42), Row(colour='#808080', name='TARPALS', value=4), Row(colour='#808080', name='BOSS NASS', value=5), Row(colour='#DDA0DD', name='PADME', value=75), Row(colour='#808080', name='RIC OLIE', value=12), Row(colour='#808080', name='WATTO', value=9), Row(colour='#808080', name='SEBULBA', value=4), Row(colour='#808080', name='JIRA', value=4), Row(colour='#808080', name='SHMI', value=12), Row(colour='#FFD700', name='C-3PO', value=151), Row(colour='#808080', name='DARTH MAUL', value=6), Row(colour='#808080', name='KITSTER', value=5), Row(colour='#808080', name='WALD', value=4), Row(colour='#808080', name='FODE/BEED', value=12), Row(colour='#808080', name='JABBA', value=8), Row(colour='#808080', name='GREEDO', value=4), Row(colour='#808080', name='VALORUM', value=4), Row(colour='#808080', name='MACE WINDU', value=23), Row(colour='#808080', name='KI-ADI-MUNDI', value=7), Row(colour='#9ACD32', name='YODA', value=46), Row(colour='#808080', name='RABE', value=3), Row(colour='#808080', name='BAIL ORGANA', value=24), Row(colour='#808080', name='GENERAL CEEL', value=5), Row(colour='#808080', name='BRAVO TWO', value=6), Row(colour='#808080', name='BRAVO THREE', value=4), Row(colour='#808080', name='CAPTAIN TYPHO', value=7), Row(colour='#808080', name='SENATOR ASK AAK', value=4), Row(colour='#808080', name='ORN FREE TAA', value=4), Row(colour='#808080', name='SOLA', value=4), Row(colour='#808080', name='JOBAL', value=4), Row(colour='#808080', name='RUWEE', value=5), Row(colour='#808080', name='TAUN WE', value=8), Row(colour='#808080', name='LAMA SU', value=9), Row(colour='#808080', name='BOBA FETT', value=11), Row(colour='#808080', name='JANGO FETT', value=6), Row(colour='#808080', name='OWEN', value=11), Row(colour='#808080', name='BERU', value=7), Row(colour='#808080', name='CLIEGG', value=4), Row(colour='#808080', name='COUNT DOOKU', value=10), Row(colour='#808080', name='SUN RIT', value=4), Row(colour='#808080', name='POGGLE', value=4), Row(colour='#808080', name='PLO KOON', value=4), Row(colour='#808080', name='ODD BALL', value=5), Row(colour='#808080', name='GENERAL GRIEVOUS', value=13), Row(colour='#808080', name='FANG ZAR', value=4), Row(colour='#808080', name='MON MOTHMA', value=5), Row(colour='#808080', name='GIDDEAN DANU', value=3), Row(colour='#808080', name='CLONE COMMANDER GREE', value=5), Row(colour='#808080', name='CLONE COMMANDER CODY', value=5), Row(colour='#808080', name='TION MEDON', value=4), Row(colour='#808080', name='CAPTAIN ANTILLES', value=4), Row(colour='#3881e5', name='LUKE', value=161), Row(colour='#808080', name='CAMIE', value=4), Row(colour='#808080', name='BIGGS', value=19), Row(colour='#DCDCDC', name='LEIA', value=99), Row(colour='#808080', name='MOTTI', value=4), Row(colour='#808080', name='TARKIN', value=13), Row(colour='#ff9400', name='HAN', value=170), Row(colour='#808080', name='DODONNA', value=4), Row(colour='#808080', name='GOLD LEADER', value=15), Row(colour='#808080', name='WEDGE', value=29), Row(colour='#808080', name='RED LEADER', value=34), Row(colour='#808080', name='RED TEN', value=9), Row(colour='#808080', name='GOLD FIVE', value=9), Row(colour='#808080', name='RIEEKAN', value=8), Row(colour='#808080', name='DERLIN', value=4), Row(colour='#808080', name='ZEV', value=7), Row(colour='#808080', name='PIETT', value=13), Row(col

In [56]:
# Verify nodes
sw_data.selectExpr("explode(nodes) as node").show(truncate=False)
sw_data.selectExpr("explode(links) as link").show(truncate=False)

# Debug nodes DataFrame
nodes = sw_data.selectExpr("explode(nodes) as node").selectExpr("node.name as id", "node.value as value", "node.colour as colour")
nodes.show(truncate=False)

# Debug links DataFrame
links = sw_data.selectExpr("explode(links) as link").selectExpr("link.source as src", "link.target as dst", "link.value as value")
links.show(truncate=False)

+-----------------------------+
|node                         |
+-----------------------------+
|{#000000, DARTH VADER, 190}  |
|{#bde0f6, R2-D2, 171}        |
|{#A0522D, CHEWBACCA, 145}    |
|{#eb5d00, BB-8, 40}          |
|{#4f4fb1, QUI-GON, 62}       |
|{#808080, NUTE GUNRAY, 25}   |
|{#808080, PK-4, 4}           |
|{#808080, TC-14, 5}          |
|{#48D1CC, OBI-WAN, 148}      |
|{#808080, DOFINE, 4}         |
|{#808080, RUNE, 11}          |
|{#808080, TEY HOW, 5}        |
|{#191970, EMPEROR, 52}       |
|{#808080, CAPTAIN PANAKA, 20}|
|{#808080, SIO BIBBLE, 9}     |
|{#9a9a00, JAR JAR, 42}       |
|{#808080, TARPALS, 4}        |
|{#808080, BOSS NASS, 5}      |
|{#DDA0DD, PADME, 75}         |
|{#808080, RIC OLIE, 12}      |
+-----------------------------+
only showing top 20 rows

+-----------+
|link       |
+-----------+
|{0, 1, 32} |
|{2, 0, 2}  |
|{0, 20, 5} |
|{0, 4, 22} |
|{0, 18, 41}|
|{0, 21, 2} |
|{0, 15, 12}|
|{0, 22, 2} |
|{0, 23, 8} |
|{24, 0, 11}|
|{0, 26, 3} |
|{0, 27, 2} |
|{0, 8, 47} |
|{0, 29, 1} |
|{0, 30, 1} |
|{13, 0, 2} |
|{0, 19, 4} |
|{0, 32, 9} |
|{0, 33, 2} |
|{0, 34, 9} |
+-----------+
only showing top 20 rows

+--------------+-----+-------+
|id            |value|colour |
+--------------+-----+-------+
|DARTH VADER   |190  |#000000|
|R2-D2         |171  |#bde0f6|
|CHEWBACCA     |145  |#A0522D|
|BB-8          |40   |#eb5d00|
|QUI-GON       |62   |#4f4fb1|
|NUTE GUNRAY   |25   |#808080|
|PK-4          |4    |#808080|
|TC-14         |5    |#808080|
|OBI-WAN       |148  |#48D1CC|
|DOFINE        |4    |#808080|
|RUNE          |11   |#808080|
|TEY HOW       |5    |#808080|
|EMPEROR       |52   |#191970|
|CAPTAIN PANAKA|20   |#808080|
|SIO BIBBLE    |9    |#808080|
|JAR JAR       |42   |#9a9a00|
|TARPALS       |4    |#808080|
|BOSS NASS     |5    |#808080|
|PADME         |75   |#DDA0DD|
|RIC OLIE      |12   |#808080|
+--------------+-----+-------+
only showing top 20 rows

+---+---+-----+
|src|dst|value|
+---+---+-----+
|0  |1  |32   |
|2  |0  |2    |
|0  |20 |5    |
|0  |4  |22   |
|0  |18 |41   |
|0  |21 |2    |
|0  |15 |12   |
|0  |22 |2    |
|0  |23 |8    |
|24 |0  |11   |
|0  |26 |3    |
|0  |27 |2    |
|0  |8  |47   |
|0  |29 |1    |
|0  |30 |1    |
|13 |0  |2    |
|0  |19 |4    |
|0  |32 |9    |
|0  |33 |2    |
|0  |34 |9    |
+---+---+-----+
only showing top 20 rows

In [57]:
from pyspark.sql.functions import monotonically_increasing_id

# Assign unique indices to nodes
nodes = nodes.withColumn("index", monotonically_increasing_id())

# Use indices directly to match links with nodes
links = links \
    .join(nodes.withColumnRenamed("id", "src_id").select("src_id", "index"), links.src == nodes["index"]) \
    .withColumnRenamed("index", "src_index") \
    .join(nodes.withColumnRenamed("id", "dst_id").select("dst_id", "index"), links.dst == nodes["index"]) \
    .withColumnRenamed("index", "dst_index") \
    .selectExpr("src_index as src", "dst_index as dst", "value")

2

In [59]:
from graphframes import GraphFrame

# Create GraphFrame
graph = GraphFrame(nodes.selectExpr("id", "value", "colour"), links)
graph.vertices.show()
graph.edges.show()
#graph.inDegrees.show()

+--------------+-----+-------+
|            id|value| colour|
+--------------+-----+-------+
|   DARTH VADER|  190|#000000|
|         R2-D2|  171|#bde0f6|
|     CHEWBACCA|  145|#A0522D|
|          BB-8|   40|#eb5d00|
|       QUI-GON|   62|#4f4fb1|
|   NUTE GUNRAY|   25|#808080|
|          PK-4|    4|#808080|
|         TC-14|    5|#808080|
|       OBI-WAN|  148|#48D1CC|
|        DOFINE|    4|#808080|
|          RUNE|   11|#808080|
|       TEY HOW|    5|#808080|
|       EMPEROR|   52|#191970|
|CAPTAIN PANAKA|   20|#808080|
|    SIO BIBBLE|    9|#808080|
|       JAR JAR|   42|#9a9a00|
|       TARPALS|    4|#808080|
|     BOSS NASS|    5|#808080|
|         PADME|   75|#DDA0DD|
|      RIC OLIE|   12|#808080|
+--------------+-----+-------+
only showing top 20 rows

+---+---+-----+
|src|dst|value|
+---+---+-----+
|  0|  1|   32|
|  2|  0|    2|
|  0| 20|    5|
|  0|  4|   22|
|  0| 18|   41|
|  0| 21|    2|
|  0| 15|   12|
|  0| 22|    2|
|  0| 23|    8|
| 24|  0|   11|
|  0| 26|    3|
|  0| 27|    2|
|  0|  8|   47|
|  0| 29|    1|
|  0| 30|    1|
| 13|  0|    2|
|  0| 19|    4|
|  0| 32|    9|
|  0| 33|    2|
|  0| 34|    9|
+---+---+-----+
only showing top 20 rows

number of diff carracter

In [45]:
num_characters = nodes.select("id").distinct().count()
print(f"Number of different characters: {num_characters}")

Number of different characters: 111

In [60]:
num_interactions = links.count()
print(f"Number of interactions: {num_interactions}")

Number of interactions: 444

In [61]:
degree = graph.degrees
central_character = degree.orderBy("degree", ascending=False).first()
print(f"The central character is {central_character['id']} with {central_character['degree']} interactions.")

The central character is 0 with 52 interactions.

In [54]:
# Rename columns to avoid ambiguity
degree = degree.withColumnRenamed("id", "degree_id")
nodes = nodes.withColumnRenamed("id", "node_id")

# Join degree with nodes on appropriate columns
central_character = degree.join(nodes, degree["degree_id"] == nodes["node_id"]) \
                          .orderBy("degree", ascending=False) \
                          .select("node_id", "degree", "name") \
                          .first()

# Print the result
print(f"The central character is {central_character['name']} with {central_character['degree']} interactions.")

AnalysisException: cannot resolve 'name' given input columns: [colour, degree, degree_id, index, node_id, value];
'Project [node_id#7039, degree#5964, 'name]
+- Sort [degree#5964 DESC NULLS LAST], true
   +- Join Inner, (degree_id#7036L = cast(node_id#7039 as bigint))
      :- Project [id#5959L AS degree_id#7036L, degree#5964]
      :  +- Aggregate [id#5959L], [id#5959L, cast(count(1) as int) AS degree#5964]
      :     +- Project [id#5959L]
      :        +- Generate explode(array(src#5356L, dst#5357L)), false, [id#5959L]
      :           +- Project [src_index#5319L AS src#5356L, dst_index#5348L AS dst#5357L, value#5235L]
      :              +- Project [src#5233L, dst#5234L, value#5235L, src_id#5300, src_index#5319L, dst_id#5325, index#5295L AS dst_index#5348L]
      :                 +- Join Inner, (dst#5234L = index#5295L)
      :                    :- Project [src#5233L, dst#5234L, value#5235L, src_id#5300, index#5295L AS src_index#5319L]
      :                    :  +- Join Inner, (src#5233L = index#5295L)
      :                    :     :- Project [link#5231.source AS src#5233L, link#5231.target AS dst#5234L, link#5231.value AS value#5235L]
      :                    :     :  +- Project [link#5231]
      :                    :     :     +- Generate explode(links#539), false, [link#5231]
      :                    :     :        +- Relation [links#539,nodes#540] json
      :                    :     +- Project [src_id#5300, index#5295L]
      :                    :        +- Project [id#5168 AS src_id#5300, value#5169L, colour#5170, index#5295L]
      :                    :           +- Project [id#5168, value#5169L, colour#5170, monotonically_increasing_id() AS index#5295L]
      :                    :              +- Project [node#5166.name AS id#5168, node#5166.value AS value#5169L, node#5166.colour AS colour#5170]
      :                    :                 +- Project [node#5166]
      :                    :                    +- Generate explode(nodes#5308), false, [node#5166]
      :                    :                       +- Relation [links#5307,nodes#5308] json
      :                    +- Project [dst_id#5325, index#5295L]
      :                       +- Project [id#5168 AS dst_id#5325, value#5169L, colour#5170, index#5295L]
      :                          +- Project [id#5168, value#5169L, colour#5170, monotonically_increasing_id() AS index#5295L]
      :                             +- Project [node#5166.name AS id#5168, node#5166.value AS value#5169L, node#5166.colour AS colour#5170]
      :                                +- Project [node#5166]
      :                                   +- Generate explode(nodes#5333), false, [node#5166]
      :                                      +- Relation [links#5332,nodes#5333] json
      +- Project [id#5168 AS node_id#7039, value#5169L, colour#5170, index#5295L]
         +- Project [id#5168, value#5169L, colour#5170, monotonically_increasing_id() AS index#5295L]
            +- Project [node#5166.name AS id#5168, node#5166.value AS value#5169L, node#5166.colour AS colour#5170]
               +- Project [node#5166]
                  +- Generate explode(nodes#7086), false, [node#5166]
                     +- Relation [links#7085,nodes#7086] json

In [48]:
pagerank = graph.pageRank(resetProbability=0.15, maxIter=10)
top_pagerank = pagerank.vertices.orderBy("pagerank", ascending=False).first()
print(f"The character with the highest PageRank is {top_pagerank['id']} with rank {top_pagerank['pagerank']}.")

The character with the highest PageRank is DARTH VADER with rank 0.9999999999999988.